html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title bumpORdump
        style(type="text/css").
            body {
                color: black;
                font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
                font-size: 1em;
                font-weight: 300;
                letter-spacing: .01em;
                margin: 0;
                padding: 0;
                background-color: slategrey;
            }

            #mainDiv {
                width: 100%;
            }
    body.container-fluid
        div#mainDiv
        script(src="/js/main.js")